body {
  text-align: center;
  font-size: 20px; line-height: 1.47; font-weight: 400;
  background: url("field-nocopyright.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-style: normal;
  color: #3c4043;
  }

H1 {font-size: 30px;font-weight: bold; text-align: center; }

ul {
    list-style-type: none;
  }
li {
    border-bottom: 3px solid;
    border-color: black;
    text-align: left;
  }

input {
      padding: 15px 20px;
      margin:10px 4px;
      border-radius: 8px;
      border-width: thin;
      cursor: pointer;
      text-align: center;
      position: relative;
      }
input:hover {
opacity:0.7;}
input:active{color: purple;}

textarea {
      flex-direction: row;
      align-items: center;
      padding: 15px 20px;
      margin:10px 4px;
      border-radius: 8px;
      border-width: thin;
      cursor: pointer;
      text-align: center;
      position: relative;
      }
textarea:hover {
opacity:0.5;}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
}

.erreur {color:red; font-weight: bold;}

.lien {color: purple;}

.reset {border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 8px;
    background-color: red;
    background-image: linear-gradient(to top left,
                                          rgba(0, 0, 0, .2),
                                          rgba(0, 0, 0, .2) 30%,
                                          rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                    inset -2px -2px 3px rgba(0, 0, 0, .6);
    }


.reset:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
    }

.submit {border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 8px;
    background-color: green;
    background-image: linear-gradient(to top left,
                                          rgba(0, 0, 0, .2),
                                          rgba(0, 0, 0, .2) 30%,
                                          rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                    inset -2px -2px 3px rgba(0, 0, 0, .6);
    }


.submit:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
    }

.bumbum {

}
